/* FOR GENERAL STYLING ON THE APP THAT CONTAINS ALL THE REST OF PAGES AND COMPONENTS */

/* SECTIONS */
/* HERO         _________________________________________*/
.section-hero {
    height: 500px;
    /* height: 45vw; */

    /* background image */
    background: url('./assets/backgroud-retro-2.webp') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;

    background-color: var(--ad-dark);
    opacity: 0.90;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 4rem;
    padding-bottom: 1.5rem;
}
.navbar:hover {
    opacity: 1;
    transition: opacity 0.5s;
}


.navbar-item {
    position: relative;
    color: whitesmoke;
    text-transform: uppercase;
}
.navbar-item::before {
    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;

    background-color: var(--ad-secondary);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar-item:hover {
    color: var(--ad-secondary);
}
.navbar-item:hover::before {
    transform: scaleX(1);
}


.navbar-mobile-toggle {
    display: none;
}


.hero-title {
    font-family: 'Poppins', sans-serif;
    font-size: 8vw;
    letter-spacing: 8px;

    
    position: relative;
    display: inline-block;
    /* background-color: #9bbfab48; */
    left: 50%;    top: 18vw;

    transform: translate(-50%, -50%);
    color: var(--ad-primary);
    cursor: pointer;
}
.hero-title::before {
    content: "WELCOME";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(45deg,transparent 0,transparent 2px,var(--ad-primary2-tr) 2px,var(--ad-primary2-tr) 4px);
    -webkit-background-clip: text;
    top: 0px;    left: 0;    z-index: -1;
    transition: 1s;
}
.hero-title::after {
    content: "WELCOME";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(135deg,transparent 0,transparent 2px,var(--ad-primary2-tr) 2px,var(--ad-primary2-tr) 4px);
    -webkit-background-clip: text;
    top: 0px;    left: 0px;
    transition: 1s;
}
.hero-title:hover:before {
    top: 10px;    left: 10px;
}
.hero-title:hover:after {
    top: -10px;    left: -10px;
}



/* DESCRIPTION  _________________________________________ */
.section-description {
    grid-template-columns: 3fr 2fr;
}

.set-pictures {
    position: relative;
    top: 0; left: 5.5rem;
}
.set-pictures img {
    height: 400px;
    width: 300px;
}

.pic-active {
    position: relative;
    top: 0; left: 0;
    z-index: 2;
}
.pic-active:hover {
    transform: scale(1.01);
    transition: transform 350ms ease-in-out;
}
.pic-hidden {
    position: absolute;
    top: 2rem; left: 3.5rem;
    z-index: 1;
    
    filter: blur(1.5px);
    transition: filter, left 350ms ease-in-out;
}
.pic-hidden:hover {
    filter: blur(0px);
    left: 5.5rem;
    
    transition: filter, left 350ms ease-in-out;
    cursor: grab;
}




/* PROJECTS     _________________________________________*/
.section-projects {
    margin-inline: 0rem;
    margin-top: 11rem;
    
    height: 750px;
    background: linear-gradient(100deg, rgba(52, 44, 66, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
    -webkit-clip-path: polygon(100% 20%, 100% 80%, 0 100%, 0 0);
    
}

/* EXPERIENCES  _________________________________________*/


/* CONTACT      _________________________________________*/







/* MEDIA QUERYS */
@media (max-width: 960px) {
    .hero-title {
        font-size: 9vw;
    }
}
@media (max-width: 800px) {
    .hero-title {
        font-size: 10vw;
    }
}

@media (max-width: 480px) {
    /* case menu toggle hidden */
    .navbar {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 40%;
        background: var(--ad-primary2-tr-less);
        backdrop-filter: blur(0.5rem);

        flex-direction: column;
        justify-content: inherit;
        gap: 1rem;
        
        padding: min(20vh, 5rem);

        transform: translateX(100%);
    }
    .navbar-item {
        color: var(--ad-dark-tr);
    }
    .navbar-mobile-toggle {
        display: block;
        position: absolute;
        aspect-ratio: 1; width: 2.3rem;
        
        z-index: 9999;
        top: 2rem;
        right: 2rem;

        background: url('./assets/icons/menu-open.svg') no-repeat;
        background-size: contain;
        border: 0;
    }
    /* case menu toggle visible */
    .navbar[aria-expanded="true"] {
        transform: translateX(0%);
        transition: transform 350ms ease-out;
    }
    .navbar-mobile-toggle[aria-expanded="true"] {
        background: url('./assets/icons/menu-close.svg') no-repeat;
        background-size: contain;
        border: 0;
    }

    /* others */
    .hero-title {
        top: 30vw;
        font-size: 12vw;
    }
}


@media (max-width: 360px) {
    .hero-title {
        /* top: 15vw;        left: 35%; */
        top: 55px;        left: 35%;
        font-size: 9vw;

        color: var(--ad-secondary);
        background-color: var(--ad-dark-tr-less);
    }
    .hero-title::before, .hero-title::after {
        color: rgba(216, 112, 147, 0.904);
        padding-left: 0.1rem;
    }
}