/* FOR GENERAL CSS STYLING ON THE HTML */
/* Fonts */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./assets/fonts/poppins/Poppins-BlackItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('./assets/fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Normal';
    font-style: normal;
    src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
}

/* Const */
/* ... */
:root {
    --ad-dark: #262626;
    --ad-primary: #698C78;
    --ad-primary2: #9BBFAB;
    --ad-secondary: #D9BD89;
    --ad-secondary2: #F2D6B3;
    --ad-thirty: #F2E2CE;
}
:root {
    --ad-dark-tr: #262626a2;
    --ad-primary-tr: #698C78a2;
    --ad-primary2-tr: #9BBFABa2;
    --ad-secondary-tr: #D9BD89a2;
    --ad-secondary2-tr: #F2D6B3a2;
    --ad-thirty-tr: #F2E2CEa2;

    --ad-primary2-tr-less: #9bbfabd3;
    --ad-dark-tr-less: #2626266b;
}

/* General */
/* ... */
::-webkit-scrollbar {
    width: 10px;
    border: none;
}
::-webkit-scrollbar-track {
    background: var(--ad-dark-tr-less);
}
::-webkit-scrollbar-thumb {
    background: var(--ad-dark-tr);
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(60, 56, 78, 0.719);
}
body {
    font-family: 'Roboto-Normal', sans-serif;
    letter-spacing: 0.5px;
    
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}


/* Utils */
.section-flex {
    display: flex;
    margin-inline: 6rem;
    margin-top: 2rem; margin-bottom: 2rem;
}
